.cards-container {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}
.artist-image{
  height: 10%;
  width: 10%;
  object-fit: cover;
}
.card-container{
width: 20px;
}
