.cards-container {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}
.artist-image{
  height: 20%;
  width: 20%;
  object-fit: cover;
}
.individual-card{

  min-width: 30%;
}
